.movie-header-container {
  background-size: cover;
  background-repeat: no-repeat;

  .movie-header {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.75)
    );
  }
}

.movie-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cast-elements {
  display: grid;
  grid-template-columns: repeat(10, 276px);
  gap: 16px;
}

.similar-elements,
.recommended-elements {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(10, 250px);
}