.image-container {
  height: 515px;
  display: flex;
  align-items: flex-start;
}

.movie-overview {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(4, 358px);
  gap: 16px;
}