<main class="container pt-3">
  <section class="d-flex justify-content-between align-items-center">
    <article>
      <mat-form-field appearance="outline" style="width: 200px;">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="searchCtrl" placeholder="Enter movie title" />
      </mat-form-field>
    </article>
    <article>
      <button mat-stroked-button color="primary" (click)="search()">
        <i class="fa-solid fa-magnifying-glass fa-lg me-2" aria-hidden="true"></i>SEARCH</button>
    </article>
  </section>
</main>

<div fxLayout="row wrap" fxLayoutGap="16px grid" class="w-100 ps-3">
  <div *ngFor="let movie of movies?.results" fxFlex="358px" (click)="movieDetails(movie.id)" style="cursor: pointer;">
    <mat-card class="p-3" style="min-height: 747px;">
      <mat-card-header>
        <mat-card-title>{{movie.title}}</mat-card-title>
        <mat-card-subtitle class="pb-2">{{movie.release_date | date:'dd/MM/yyyy'}}</mat-card-subtitle>
      </mat-card-header>
      <div class="image-container">
        <img mat-card-image src="https://image.tmdb.org/t/p/w342{{movie.poster_path}}" style="width: 342px" />
      </div>
      <mat-card-content style="min-height: 96px;">
        <p class="movie-overview">
          {{movie.overview}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
