<section class="container mt-5">
  <article class="row justify-content-center align-items-center">
    <form class="col-6" [formGroup]="form" (ngSubmit)="register()">
      <div class="row text-dark">
        <div class="col-12 mb-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" /> 
            <mat-hint class="d-flex justify-content-between align-items-center w-100">
              <div>
                Username length must be between 4 and 8 chars
              </div>
              <div class="text-end">
                {{ form.get('username')?.value?.length || 0}}/8
              </div>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-12 mb-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" /> 
            <mat-hint>Ex: myname@contoso.com</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-12 mb-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" /> 
            <mat-hint>Passwords must match</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-12 mb-4">
          <pre>{{form.controls['confirm_password'].errors | json}}</pre>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirm_password" type="password" /> 
            <mat-hint>Passwords must match</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-12">
          <button mat-stroked-button class="w-100" [disabled]="form.invalid">REGISTER</button> 
        </div>
      </div>
    </form>
  </article>
</section>
