<section class="similar-movies-container w-100 mb-5" *ngIf="movies">
  <article class="d-flex justify-content-center pt-3">
    <div style="width: 75%;">
      <div class="px-3 d-flex justify-content-between align-items-center w-100">
        <h2>{{heading}}</h2>
        <div>
          <button mat-stroked-button color="primary" (click)="redirect.emit()">
            {{ subheading }} <i class="fa-solid fa-arrow-right fa-lg ms-2" aria-hidden="true"></i></button>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="16px grid" class="px-3" style="overflow-x: scroll;"
        [ngStyle]="{ 'max-width': '2660px' }">
        <div *ngFor="let movie of movies | slice:0:10" fxFlex="266px" style="cursor: pointer;"
          (click)="relatedMovie.emit(movie.id)">
          <mat-card>
            <img mat-card-image src="https://image.tmdb.org/t/p/w250_and_h141_face{{movie.backdrop_path}}"
              title="Photo of {{movie.original_title}}" width="250px" height="141px">
            <div class="d-flex justify-content-between align-items-center">
              <p class="movie-ellipsis w-75"><strong>{{movie.original_title}}</strong></p>
              <p>{{movie.vote_average | voteAverage }}</p>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </article>
</section>