<ng-container *ngIf="similarMovies">
  <div class="row w-100 px-3">
    <div class="col-12">
      <h1>Similar Movies</h1>
      <app-list-handler [list]="similarMovies" [itemTemplate]="itemTemplate" itemSize="266px" />
    </div>
  </div>
</ng-container>

<ng-template #itemTemplate let-element>
  <div style="width: 250px;" (click)="goToRelatedMovie(element.id)">
    <img src="https://image.tmdb.org/t/p/w250_and_h141_face{{element.backdrop_path}}" alt="Photo of {{element.original_title}}" width="250px" height="141px" />
    <div class="d-flex justify-content-between align-items-center ps-2">
      <p class="movie-ellipsis w-75"><strong>{{element.original_title}}</strong></p>
      <p>{{element.vote_average | voteAverage }}</p>
    </div>
  </div>
</ng-template>
