<section class="container mt-5">
  <article class="row justify-content-center align-items-center">
    <form class="col-4" [formGroup]="form" (ngSubmit)="login()">
      <div class="row text-dark">
        <div class="col-12 mb-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" /> 
          </mat-form-field>
        </div>
        <div class="col-12 mb-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" /> 
          </mat-form-field>
        </div>
        <div class="col-12 mb-4">
          <button mat-stroked-button class="w-100">LOGIN</button> 
        </div>
        <div class="col-12">
          Are you a new user? <a routerLink="/register">Register</a>
        </div>
      </div>
    </form>
  </article>
</section>
